<div id='image_load'>
    <ul class="navbar-brand"><%= image_tag @random_image.photo.url,:title => current_user.email,:id => 'new_apple',:class => "img-circle img-responsive",:width=>'65px',:height=>'10px'%></ul></div>