<% unless @fb_friends.blank? %>
  <% @fb_friends.each do |fb_friend| %>
    <div class='float-left fb-avatar-section'>
        <%= image_tag "http://graph.facebook.com/#{fb_friend.identifier}/picture", :class => 'float-left' %>
        <div class='float-left fb-avatar-desc'>
            <div class='float-left full-width fb-avatar-name' id="fb_name_<%= fb_friend.identifier%>">
                <%= fb_friend.raw_attributes['name'] %>
            </div>
        </div>
    </div>
  <% end %>
<% else %>
  You do not have any facebook friends to invite
<% end %>
<%#= link_to('Connect to facebook', user_omniauth_authorize_path('facebook'), :class => 'display-block ') %>
  